body {
    margin: 0;
}
h1 {
    color:white;
    font-size: 50px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(45, 42, 42);
    text-align: center;
    margin: 0%;   
}
h2 {
    color:white;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
}
h3 {
    color:#1E212A;
    font-size: 36px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 90px;
    padding-left: 70px;
}

h5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
h6 {
    color:rgb(216, 116, 34);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0%;
}
p {
    color:white;
    font-size: 26px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10%;
    padding-top: 10%;
}
a {text-decoration: none;
}
a:link {
    color: white; /* Цвет ссылок */
   }
   a:visited {
    color: white; /* Цвет посещенных ссылок */
   }

   a:hover {
       color: rgb(206, 152, 64);
   }
.container {
    background:rgb(223, 147, 147);
    width:100%;
    height:1000px;
    margin: 0%;
}

header {
    background:#1E212A;
	width:100%;
    height:100px;
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color:white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
 }
 @media (max-width: 870px)
 {
    header {
      /* Меняем оси шапки, делая её вертикальной. */
    flex-direction: column;
      /* Выравнивание элементов шапки с начала (по левому краю). */
    align-items: flex-start;
     height: auto;
     justify-content: start;
    }
 }


.menustart {
   padding-left: 15px; 
}    

.menustart ul {
        margin: 0; 
        padding: 4px;
       }
.menustart li {
        display: inline;
        margin-right: 5px; 
        padding: 3px; 
       }

.logotip {
    padding-right: 190px;
    padding-bottom: 10px;
    
}
.logotip ul {
    list-style-type: none;
}
#logo {
    font-family: Baumans, cursiv;
    font-size: 36px;
}
#logo2 {
text-align: center;
font-size: 16px;
}
#Korzina {
padding-right: 40px;    
}

.about {
    background:#3a3b3c;
    display: flex;
	justify-content: space-between;
	height: 410px;
    margin: auto;
    padding: 0;
    
  
}
  
.about > div {
	
	width: 50%;
    height: 400px;
}
form {
    padding-left: 10%;
    padding-top: 40px;
}
input {
    background-image: url('http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s25/search.png');  
    background-repeat: no-repeat;   
    background-position: 100%;
    width: 195%;
    position: relative;
    margin-top: 80px;
    height: 40px;
    padding-left: 10px;
}

.carousel-wrapper{
    position:relative;
}
.carousel-item  {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition:all0.5 sease-in-out;
    background-color: #3a3b3c;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}
.carousel-item ul {
    list-style-type: none;
}
.carousel-item p {
    font-size: 18px;
    text-align: center;
}
.light {
    background-color: rgb(206, 152, 64);
}
.arrow{
    position:absolute;
    top:0;
    display:block;
    width:50px;
    height:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    background:url("images/стрелка.png")50% 50%/20px no-repeat;
     
}
.arrow.arrow-prev{
    left:0;
  
}   
.arrow.arrow-next{
    right:0;
    transform:rotate(180deg);
}
          
@media(max-width:480px){
    .arrow,&.light.arrow{
    background-size:10px;
    background-position:10px 50%;
    }
}
        
   
[id^="target-item"]{
    display:none;
}
       
.item-1{
    z-index:2;
    opacity:1;
}
     
   
*:target~.item-1{ 
    opacity:0;
}
     
    
#target-item-1:target~.item-1{
    opacity:1;
}
     
#target-item-2:target~.item-2,#target-item-3:target~.item-3{
    z-index:3;
    opacity:1;
}
.ST-vse {
    background:#1E212A;
    padding-top: 20px;
    
    }
    .ST-vse > div {
        min-height: 900px;
        height: auto;
        
    }
.ST {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        display: flex;
        height: 800px;
        padding-right: 50px;
        padding-left: 50px;
        
    }
    .ST > div {
        
        width: 420px;
        height: 240px;
        margin: 20px;
        background:rgb(247, 247, 247);
       
        justify-content: center;
    }    
    .STcatalog{
        padding-top: 10px;
        padding-left: 30px;
    }
   
    
    ul {
        display: inline;
    }
    .STblock {
        margin: 3px;
        width: 100%;
        
       
    }
    #Autohimtext {
        float: left;
        width: 30%;
        display: table;
        
       
    }
    #Autohimfoto {
        overflow: hidden;
        width: 50%;
    }
    #Shintext {
        float: left;
        width: 30%;
        display: table;
        
       
    }
    #Shinfoto {
        overflow: hidden;
        width: 50%;
    }
    #Disctext {
        float: left;
        width: 30%;
        display: table;   
    }
    #Discfoto {
        overflow: hidden;
        width: 50%;
    }
    #Electtext {
        float: left;
        width: 30%;
        display: table;   
    }
    #Electfoto {
        overflow: hidden;
        width: 50%;
    }
    #Shetkitext {
        float: left;
        width: 30%;
        display: table;   
    }
    #Shetkifoto {
        overflow: hidden;
        width: 42%;
        padding-top: 50px;
    }
    #Insttext {
        float: left;
        width: 30%;
        display: table;   
    }
    #Instfoto {
        overflow: hidden;
        width: 50%;
    }
    #Maslotext {
        float: left;
        width: 30%;
        display: table;   
    }
    #Maslofoto {
        overflow: hidden;
        width: 50%;
    }
    .fotovbloke {
        background-image:url(/images/фото8.png);
    }
    
    .bukva {
        color:rgb(206, 152, 64);
        margin-left: -30px;
        position: absolute;
        font-weight: bold;
    }
    .carblock {
        background: rgb(30, 33, 42);
        padding: 25px;
    }
    .spisokcar {
        padding-top: 40px;
        margin-bottom: 25px;
        display: flex;
        flex: 5;
        justify-content: space-between;
    }
    .marki {
        list-style: none;
    }
    .top {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(30, 33, 42);
      
    }
.footer {
    
    background: rgb(30, 33, 42);
    border-top: 15px solid rgb(206, 152, 64);
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 250px 150px;
}
.socseti {
   display: block;
   grid-column-start: 1;
   grid-row-start: 2;
   text-align: right;
}

  
.footer-menu {
    color: #6f6d6d;
    font-family: Arial, Helvetica, sans-serif;
     
}
&:right {
   grid-column-start: 1;
   grid-row-start: 1;
   
}
&:left {
    grid-column-start: 2;
    grid-row-start: 1;
    
}
.footer-menu > a {
    color: #6f6d6d;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
   
}

.frame {
    grid-column-start: 3;
}
.left {
    text-align: left;
    padding-top: 125px;
    padding-left: 80px;
}
.right {
    text-align: left;
    padding-left: 65%;
    padding-top: 55px;
}