body {
    margin: 0;
}
h1 {
    color:white;
    font-size: 50px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(45, 42, 42);
    
    text-align: center;
    margin: 0%;
    
}
h2 {
    color:white;
    font-size: 50px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(45, 42, 42);
    font-size: 20px;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
    
}
h6 {
    color:rgb(216, 116, 34);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0%;
}
p {
    color:white;
    font-size: 20px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 305px;
    padding-left: 161px;
    padding-top: 100px;
}
a {text-decoration: none;
}
a:link {
    color: white; /* Цвет ссылок */
   }
   a:visited {
    color: white; /* Цвет посещенных ссылок */
   }
   a:active {
    color: rgb(216, 116, 34); /* Цвет активной ссылки */ 
   } 
.container {
    background:rgb(223, 147, 147);
    width:100%;
    height:1000px;
    margin: 0%;
}
.menu {
    background:rgb(30, 33, 42);
	width:100%;
    height:100px;
    display: grid;
    grid-template-columns: 35% 30% 35%;;
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 18px;
    padding-left: 150px;
    padding-right: 150px;
 }
 .li {
    color:white;
    size: 5px;
    margin: 0%;
    padding-left: 20px;
    padding-right: 20px;
    height: 95px;
    
 }
 #tel {
    float: left;
    width: 60%;
    padding-top: 40px;
   
}
#onas {
    float: left;
    width: 10%;
    padding-top: 40px;
}
#cat {
    overflow: hidden;
    display: flex;
    flex-flow: row-reverse;
    padding-top: 40px;
}
#Korzina {
    display: block;
    text-align: right;
    padding-top: 40px;
   
}
.about {
    background:rgb(63, 65, 70);
    display: flex;
	justify-content: space-between;
	height: 410px;
	margin: auto;
}
.about > div {
	
	width: 50%;
    height: 400px;
}
.poisk {
    position: relative;
    padding-top: 360px;
    
   
}
* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  
}
input, button {
  outline: none;
  
}
input {
  width: 520%;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #F9F0DA;
}
button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: -1300px;
  cursor: pointer;

}
input:focus {
  border-color: rgb(206, 152, 64);
}


.slider {
    background:rgb(206, 152, 64);
    display: flex;
	justify-content: space-between;
	height: 400px;
    padding-top: 36px;
}
    #Sltext {
        float: center;
        width: 50%;
        display: table;
        
       
    }
    #Slfoto {
        overflow: hidden;
        width: 50%;
    }
.ST {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        height: 800px;
        background:rgb(45, 42, 42);
        padding-right: 50px;
        padding-left: 50px;
        
    }
    .ST > div {
        
        width:500px;
        height: 200px;
        margin: 20px;
        background:rgb(247, 247, 247);
    }    
    .STcatalog{
        padding-top: 10px;
        padding-left: 30px;
    }
   
    
    ul {
        display: inline;
    }
    .STblock {
        margin: 3px;
        width: 100%;
        
       
    }
    #Autohimtext {
        float: left;
        width: 50%;
        display: table;
        
       
    }
    #Autohimfoto {
        overflow: hidden;
        width: 50%;
    }
    #Shintext {
        float: left;
        width: 50%;
        display: table;
        
       
    }
    #Shinfoto {
        overflow: hidden;
        width: 50%;
    }
    #Disctext {
        float: left;
        width: 50%;
        display: table;   
    }
    #Discfoto {
        overflow: hidden;
        width: 50%;
    }
    #Electtext {
        float: left;
        width: 50%;
        display: table;   
    }
    #Electfoto {
        overflow: hidden;
        width: 50%;
    }
    #Shetkitext {
        float: left;
        width: 50%;
        display: table;   
    }
    #Shetkifoto {
        overflow: hidden;
        width: 50%;
    }
    #Insttext {
        float: left;
        width: 50%;
        display: table;   
    }
    #Instfoto {
        overflow: hidden;
        width: 50%;
    }
    #Maslotext {
        float: left;
        width: 50%;
        display: table;   
    }
    #Maslofoto {
        overflow: hidden;
        width: 50%;
    }
    .fotovbloke {
        background-image:url(/images/фото8.png);
    }